#flowering {
  position: relative;
  width: 100%;
  padding-top: 9%;
  z-index: 0;
}
#flowering .text {
  display: flex;
  justify-content: center;
}
#flowering .text h2 {
  width: 90%;
  max-width: 1300px;
  z-index: 2;
  margin: 50px;
}
@media (max-width: 1023px) {
  #flowering .text h2 {
    text-align: center;
    margin: 20px;
  }
}
@media (max-width: 539px) {
  #flowering .text h2 {
    margin: 10px;
  }
}
#flowering .flowering {
  display: flex;
  justify-content: center;
  padding: 0px 25px;
}
#flowering .flowering .sheet {
  border-radius: 15px;
  box-shadow: 6px 6px 10px -4px black;
  width: 100%;
  max-width: 1300px;
  z-index: 2;
}
@media (max-width: 539px) {
  #flowering .flowering {
    padding: 0px 14px;
  }
}
#flowering .mountain {
  position: absolute;
  width: 100%;
  top: 0%;
  z-index: 1;
}
@media (max-width: 539px) {
  #flowering .mountain {
    display: none;
  }
}
#flowering .night {
  transition: 3s;
  opacity: 0;
}
#flowering .sky {
  position: absolute;
  width: 100%;
  bottom: 26%;
  z-index: 0;
}
@media (max-width: 1399px) {
  #flowering .sky {
    bottom: 38%;
  }
}
@media (max-width: 1023px) {
  #flowering .sky {
    bottom: 30%;
  }
}
@media (max-width: 539px) {
  #flowering .sky {
    display: none;
  }
}
#flowering .sun {
  position: absolute;
  width: 14%;
  bottom: 85%;
  left: 71%;
  z-index: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: sun-x, sun-y;
          animation-name: sun-x, sun-y;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@media (max-width: 539px) {
  #flowering .sun {
    display: none;
  }
}
#flowering .moon {
  position: absolute;
  width: 14%;
  bottom: 35%;
  right: 100%;
  z-index: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: moon-x, moon-y;
          animation-name: moon-x, moon-y;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@media (max-width: 539px) {
  #flowering .moon {
    display: none;
  }
}
@media (max-width: 1024px) {
  #flowering {
    padding-top: 8%;
  }
}

@-webkit-keyframes sun-x {
  100% {
    left: 100%;
  }
}

@keyframes sun-x {
  100% {
    left: 100%;
  }
}
@-webkit-keyframes sun-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
            animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    bottom: 85%;
  }
  100% {
    bottom: 35%;
  }
}
@keyframes sun-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
            animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    bottom: 85%;
  }
  100% {
    bottom: 35%;
  }
}
@-webkit-keyframes moon-x {
  100% {
    right: 15%;
  }
}
@keyframes moon-x {
  100% {
    right: 15%;
  }
}
@-webkit-keyframes moon-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    bottom: 35%;
  }
  75% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
            animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    bottom: 95%;
  }
  100% {
    bottom: 85%;
  }
}
@keyframes moon-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    bottom: 35%;
  }
  75% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
            animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    bottom: 95%;
  }
  100% {
    bottom: 85%;
  }
}/*# sourceMappingURL=flowering.css.map */