#flowering {
  position: relative;
  width: 100%;
  padding-top: 9%;
  z-index: 0;
}
#flowering #flower-map-bgi {
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: -80%;
  display: none;
}
@media (max-width: 539px) {
  #flowering #flower-map-bgi {
    display: block;
  }
}
#flowering .text {
  display: flex;
  justify-content: center;
}
#flowering .text h2 {
  width: 90%;
  max-width: 1300px;
  z-index: 2;
  margin: 50px;
  letter-spacing: 8px;
  transition: 3s;
}
@media (max-width: 1023px) {
  #flowering .text h2 {
    text-align: center;
    margin: 20px;
  }
}
@media (max-width: 539px) {
  #flowering .text h2 {
    margin: 10px;
  }
}
#flowering .flowering {
  display: flex;
  justify-content: center;
  padding: 0px 25px;
}
#flowering .flowering a {
  z-index: 2;
}
#flowering .flowering a .sheet {
  border-radius: 15px;
  box-shadow: 6px 6px 10px -4px black;
  width: 100%;
  max-width: 1300px;
}
@media (max-width: 539px) {
  #flowering .flowering {
    padding: 0px 14px;
  }
}
#flowering .mountain {
  position: absolute;
  width: 100%;
  top: 0%;
  z-index: 1;
}
@media (max-width: 539px) {
  #flowering .mountain {
    display: none;
  }
}
#flowering #night-mountain {
  top: 2%;
}
#flowering .sky {
  position: absolute;
  width: 100%;
  bottom: 26%;
  z-index: 0;
}
@media (max-width: 1399px) {
  #flowering .sky {
    bottom: 38%;
  }
}
@media (max-width: 1023px) {
  #flowering .sky {
    bottom: 30%;
  }
}
@media (max-width: 539px) {
  #flowering .sky {
    display: none;
  }
}
#flowering .op1-0 {
  -webkit-animation-name: op1-0;
          animation-name: op1-0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#flowering .op0-1 {
  -webkit-animation-name: op0-1;
          animation-name: op0-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#flowering .sun {
  position: absolute;
  width: 14%;
  bottom: 85%;
  left: 71%;
  z-index: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media (max-width: 539px) {
  #flowering .sun {
    display: none;
  }
}
#flowering .sun-dayToNight {
  -webkit-animation-name: sun-dayToNight-x, sun-dayToNight-y;
          animation-name: sun-dayToNight-x, sun-dayToNight-y;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#flowering .sun-nightToDay {
  -webkit-animation-name: sun-nightToDay-x, sun-nightToDay-y;
          animation-name: sun-nightToDay-x, sun-nightToDay-y;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#flowering .moon {
  position: absolute;
  width: 14%;
  bottom: 35%;
  right: 100%;
  z-index: 1;
}
@media (max-width: 539px) {
  #flowering .moon {
    display: none;
  }
}
#flowering .moon-dayToNight {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: moon-dayToNight-x, moon-dayToNight-y;
          animation-name: moon-dayToNight-x, moon-dayToNight-y;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#flowering .moon-nightToDay {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: moon-nightToDay-x, moon-nightToDay-y;
          animation-name: moon-nightToDay-x, moon-nightToDay-y;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@media (max-width: 1024px) {
  #flowering {
    padding-top: 8%;
  }
}

@-webkit-keyframes op1-0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes op1-0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes op0-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes op0-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes sun-dayToNight-x {
  0% {
    left: 71%;
  }
  100% {
    left: 100%;
  }
}
@keyframes sun-dayToNight-x {
  0% {
    left: 71%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes sun-dayToNight-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
            animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    bottom: 85%;
  }
  100% {
    bottom: 35%;
  }
}
@keyframes sun-dayToNight-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
            animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    bottom: 85%;
  }
  100% {
    bottom: 35%;
  }
}
@-webkit-keyframes sun-nightToDay-x {
  0% {
    left: 100%;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    left: 71%;
  }
}
@keyframes sun-nightToDay-x {
  0% {
    left: 100%;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    left: 71%;
  }
}
@-webkit-keyframes sun-nightToDay-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
            animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    bottom: 35%;
  }
  100% {
    bottom: 85%;
  }
}
@keyframes sun-nightToDay-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
            animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    bottom: 35%;
  }
  100% {
    bottom: 85%;
  }
}
@-webkit-keyframes moon-dayToNight-x {
  0% {
    right: 100%;
  }
  100% {
    right: 15%;
  }
}
@keyframes moon-dayToNight-x {
  0% {
    right: 100%;
  }
  100% {
    right: 15%;
  }
}
@-webkit-keyframes moon-dayToNight-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    bottom: 35%;
  }
  75% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
            animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    bottom: 95%;
  }
  100% {
    bottom: 85%;
  }
}
@keyframes moon-dayToNight-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    bottom: 35%;
  }
  75% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
            animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    bottom: 95%;
  }
  100% {
    bottom: 85%;
  }
}
@-webkit-keyframes moon-nightToDay-x {
  0% {
    right: 15%;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    right: 100%;
  }
}
@keyframes moon-nightToDay-x {
  0% {
    right: 15%;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    right: 100%;
  }
}
@-webkit-keyframes moon-nightToDay-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
            animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    bottom: 85%;
  }
  25% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
            animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    bottom: 95%;
  }
  100% {
    bottom: 35%;
  }
}
@keyframes moon-nightToDay-y {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
            animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    bottom: 85%;
  }
  25% {
    -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
            animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    bottom: 95%;
  }
  100% {
    bottom: 35%;
  }
}/*# sourceMappingURL=flowering.css.map */