@charset "UTF-8";
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body #search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Serif TC", serif;
  z-index: 1;
}
body #search h2 {
  text-align: center;
  font-size: 24px;
  margin: 0px;
}
body #search > img {
  width: 15%;
  min-width: 180px;
  margin: 80px 0px;
}
@media (max-width: 1024px) {
  body #search > img {
    margin: 65px 0px;
  }
}
@media (max-width: 539px) {
  body #search > img {
    margin: 30px 0px 25px 0px;
  }
}
body #search .bgi {
  width: 100%;
  display: none;
}
@media (max-width: 539px) {
  body #search .bgi {
    display: block;
    position: absolute;
    z-index: -1;
    top: 100px;
  }
}
body #search .choose {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
}
body #search .choose select {
  width: 220px;
  margin: 0px 45px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
}
body #search .choose select optgroup {
  color: white;
  background-color: cadetblue;
}
@media (max-width: 1023px) {
  body #search .choose select {
    margin: 0px 30px;
    width: 180px;
  }
}
@media (max-width: 767px) {
  body #search .choose select {
    margin: 0px 15px;
    width: 130px;
  }
}
@media (max-width: 539px) {
  body #search .choose select {
    margin: 5px 0px;
    width: 130px;
  }
}
@media (max-width: 1023px) {
  body #search .choose {
    padding: 20px 0px;
  }
}
@media (max-width: 539px) {
  body #search .choose {
    flex-direction: column;
  }
}
body #search #icon-box {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  padding: 0px 10px;
}
body #search #icon-box #icon {
  width: 100%;
  max-width: 900px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
body #search #icon-box #icon img {
  width: 60PX;
  margin: 0PX 10PX;
  cursor: pointer;
  margin-bottom: 25px;
}
body #search #icon-box #icon img:hover {
  transform: scale(1.1);
}
@media (max-width: 1023px) {
  body #search #icon-box #icon img {
    width: 50PX;
  }
}
@media (max-width: 539px) {
  body #search #icon-box #icon img {
    width: 56PX;
    margin: 0px 7.5px 20px 7.5px;
  }
}
@media (max-width: 1023px) {
  body #search #icon-box {
    height: 300px;
    padding: 0px 15px;
  }
}
@media (max-width: 539px) {
  body #search #icon-box {
    height: auto;
    padding: 0px 7.5px;
  }
}
body #search .flower-image-box {
  display: flex;
  height: 775px;
  width: 100%;
  overflow: hidden;
}
body #search .flower-image-box .bird-box {
  width: calc((100% - 850px) / 2);
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
body #search .flower-image-box .bird-box img {
  width: 200px;
}
@media (max-width: 539px) {
  body #search .flower-image-box .bird-box {
    display: none;
  }
}
body #search .flower-image-box #flower-box {
  width: 100%;
  max-width: 850px;
}
body #search .flower-image-box #flower-box .information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
body #search .flower-image-box #flower-box .information .flower-image {
  width: 550px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #search .flower-image-box #flower-box .information .flower-image img {
  width: auto;
  height: 90%;
}
@media (max-width: 1023px) {
  body #search .flower-image-box #flower-box .information .flower-image img {
    height: 100%;
  }
}
@media (max-width: 1023px) {
  body #search .flower-image-box #flower-box .information .flower-image {
    height: 330px;
    width: 375px;
  }
}
body #search .flower-image-box #flower-box .information .flower-news {
  width: 300px;
  padding-top: 100px;
  word-break: break-all;
}
body #search .flower-image-box #flower-box .information .flower-news h2 {
  margin-bottom: 30px;
}
body #search .flower-image-box #flower-box .information .flower-news .news {
  display: inline-block;
  width: 300px;
  line-height: 35px;
  margin: 4px 0px;
}
body #search .flower-image-box #flower-box .information .flower-news .news p {
  float: left;
  width: 60px;
  font-size: 20px;
  margin: 0px;
}
body #search .flower-image-box #flower-box .information .flower-news .news span {
  float: left;
  width: 240px;
  text-align: justify;
}
@media (max-width: 767px) {
  body #search .flower-image-box #flower-box .information .flower-news .news span {
    width: calc(100% - 60px);
  }
}
@media (max-width: 767px) {
  body #search .flower-image-box #flower-box .information .flower-news .news {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  body #search .flower-image-box #flower-box .information .flower-news {
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  body #search .flower-image-box #flower-box .information .flower-news {
    padding-top: 0px;
    width: 250px;
  }
}
body #search .flower-image-box #flower-box .information .flower-introduce {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
body #search .flower-image-box #flower-box .information .flower-introduce p {
  word-break: break-all;
  text-align: justify;
  line-height: 30px;
  font-size: 18px;
}
@media (max-width: 1023px) {
  body #search .flower-image-box #flower-box .information .flower-introduce {
    padding: 0px;
  }
}
@media (max-width: 539px) {
  body #search .flower-image-box #flower-box .information .flower-introduce {
    background-image: url("../img/程式用圖區/花卉介紹綠底漸層.png");
    background-size: cover;
  }
}
body #search .flower-image-box #flower-box .none {
  display: none;
}
@media (max-width: 1023px) {
  body #search .flower-image-box #flower-box {
    padding: 0px 25px;
  }
}
@media (max-width: 539px) {
  body #search .flower-image-box #flower-box {
    padding: 0px 14px;
  }
}
body #search .flower-image-box .girl-img {
  width: calc((100% - 850px) / 2);
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
body #search .flower-image-box .girl-img .girl {
  width: 200px;
}
@media (max-width: 1024px) {
  body #search .flower-image-box .girl-img .girl {
    display: none;
  }
}
body #search .flower-image-box .girl-img .bird {
  display: none;
  width: 150px;
}
@media (max-width: 1024px) {
  body #search .flower-image-box .girl-img .bird {
    display: block;
  }
}
@media (max-width: 1024px) {
  body #search .flower-image-box .girl-img {
    width: 100%;
    justify-content: flex-end;
  }
}
@media (max-width: 539px) {
  body #search .flower-image-box .girl-img {
    display: none;
  }
}
@media (max-width: 1024px) {
  body #search .flower-image-box {
    height: 600px;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  body #search .flower-image-box {
    height: 960px;
  }
}
@media (max-width: 539px) {
  body #search .flower-image-box {
    height: auto;
    min-height: 800px;
  }
}/*# sourceMappingURL=search.css.map */