#flowering {
    position: relative;
    width: 100%;
    // display: flex;
    // justify-content: center;
    padding-top: 12%;
    z-index: 0;
    .text{
        display: flex;
        justify-content: center;
        h2{
            width: 90%;
            max-width: 1300px;
            z-index: 2;
            margin: 50px;
            @media (max-width:1023px) {
                text-align: center;
                margin: 20px ;
            }

            @media (max-width:539px) {
                margin: 10px ;
            }
        }
    }

    .flowering{
        display: flex;
        justify-content: center;
        padding: 0px 25px;

        .sheet {
            border-radius: 15px;
            box-shadow: 6px 6px 10px -4px black;
            width: 100%;
            max-width: 1300px;
            z-index: 2;
        }
        @media (max-width:539px) {
            padding: 0px 14px;
        }
    }

    .mountain {
        position: absolute;
        width: 100%;
        top: 0%;
        z-index: 1;
    }

    .sky {
        position: absolute;
        width: 100%;
        bottom: 26%;
        z-index: 0;
    }

    .sun{
        position: absolute;
        width: 14%;
        bottom: 85%;
        right: 15%;
        z-index: 1;
    }
    @media (max-width:1024px) {
        padding-top: 8%;
    }
}