#flowering {
    position: relative;
    width: 100%;
    // display: flex;
    // justify-content: center;
    padding-top: 9%;
    z-index: 0;
    #flower-map-bgi{
        width: 100%;
        position: absolute;
        z-index: -1;
        bottom: -80%;
        display: none;
        @media (max-width: 539px) {

          display: block;
        }
      }
    .text{
        display: flex;
        justify-content: center;
        h2{
            width: 90%;
            max-width: 1300px;
            z-index: 2;
            margin: 50px;
            @media (max-width:1023px) {
                text-align: center;
                margin: 20px ;
            }

            @media (max-width:539px) {
                margin: 10px ;
            }
        }
    }

    .flowering{
        display: flex;
        justify-content: center;
        padding: 0px 25px;

        .sheet {
            border-radius: 15px;
            box-shadow: 6px 6px 10px -4px black;
            width: 100%;
            max-width: 1300px;
            z-index: 2;
        }
        @media (max-width:539px) {
            padding: 0px 14px;
        }
    }

    .mountain {
        position: absolute;
        width: 100%;
        top: 0%;
        z-index: 1;
        // transition:3s;
        @media (max-width:539px) {
            display: none;
        }
    }


    .sky {
        position: absolute;
        width: 100%;
        bottom: 26%;
        // transition:3s;
        z-index: 0;
        @media (max-width:1399px) {
            bottom: 38%;
        }
        @media (max-width:1023px) {
            bottom: 30%;
        }
        @media (max-width:539px) {
            display: none;
        }
    }
    .op1-0{
        animation-name: op1-0;
        animation-duration: 3s;
        animation-fill-mode:both;
    }
    .op0-1{
        animation-name: op0-1;
        animation-duration: 3s;
        animation-fill-mode:both;
    }
    

    .sun{
        position: absolute;
        width: 14%;
        bottom: 85%;
        left: 71%;
        z-index: 1;
        animation-timing-function:linear;
        @media (max-width:539px) {
            display: none;
        }
    }

    .sun-dayToNight{
        animation-name:sun-dayToNight-x ,sun-dayToNight-y;
        animation-duration:2s;
        animation-fill-mode:both;
        // animation-play-state: paused;
    }

    .sun-nightToDay{
        animation-name:sun-nightToDay-x,sun-nightToDay-y;
        animation-duration:3s;
        animation-fill-mode:both;
        // animation-play-state: paused;
    }

    .moon{
        position: absolute;
        width: 14%;
        bottom: 35%;
        right: 100%;
        z-index: 1;
        @media (max-width:539px) {
            display: none;
        }
    }

    .moon-dayToNight{
        animation-timing-function: linear;
        animation-name:moon-dayToNight-x ,moon-dayToNight-y;
        animation-duration:3s;
        animation-fill-mode:both;
        // animation-play-state: paused;
    }

    .moon-nightToDay{
        animation-timing-function: linear;
        animation-name:moon-nightToDay-x,moon-nightToDay-y;
        animation-duration:3s;
        animation-fill-mode:both;
    }
    @media (max-width:1024px) {
        padding-top: 8%;
    }
}
@keyframes op1-0{
    0%{
        opacity: 1;
    }
    100%{

        opacity: 0;
    }
}
@keyframes op0-1{
    0%{
        opacity: 0;
    }
    100%{

        opacity: 1;
    }
}

@keyframes sun-dayToNight-x{
    0%{
        left: 71%;
    }
    100%{

        left: 100%;
    }
}
@keyframes sun-dayToNight-y{
    0%{
        animation-timing-function:cubic-bezier(0.47, 0, 0.745, 0.715);
        bottom: 85%;
    }
    100%{
        bottom: 35%;
    }
}
@keyframes sun-nightToDay-x{
    0%{
        left: 100%;
    animation-timing-function: linear;
    }
    100%{
        left: 71%;
    }
}
@keyframes sun-nightToDay-y{
    0%{
        animation-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1);
        bottom: 35%;
    }
    100%{
        bottom: 85%;
    }
}

@keyframes moon-dayToNight-x{
    0%{
        right: 100%;
    }

    100%{
        right: 15%;
    }
}

@keyframes moon-dayToNight-y{
    0%{
        animation-timing-function:cubic-bezier(0.215, 0.61, 0.355, 1);
        bottom: 35%;
    }
    75%{
        animation-timing-function:cubic-bezier(0.47, 0, 0.745, 0.715);
        bottom: 95%;
    }

    100%{
        bottom: 85%;
    }
}

@keyframes moon-nightToDay-x{
    0%{
        right: 15%;
    animation-timing-function: linear;
    }
    100%{
        right: 100%;
    }
}
@keyframes moon-nightToDay-y{
    0%{
        animation-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1);
        bottom: 85%;
    }
    25%{
        animation-timing-function:cubic-bezier(0.47, 0, 0.745, 0.715);
        bottom: 95%;
    }
    100%{
        bottom: 35%;
    }
}
