* {
    box-sizing: border-box;

    body {
        margin: 0;
        padding: 0;
        background-color: #fff;
        #svg-map {
            #maptest1 {
                #svg-body{
                    height: 80%;
                    width: 80%;
                    path{
                        stroke: #333;
                        stroke-width: 1px;
                        fill:transparent;
                        &:hover{
                            // fill: #fa0;
                            stroke-width: 5px;
                            // transform: translate(3px ,-3px);
                        }
                    }
                    #taichungtest{
                        // transform: scale(2);
                        // transform-origin: 0% 0%;
                        // transform: translate(-100px, -100px);
                        &:hover{
                            // transform: translate(-10px,10px);
                            //  transform: translate(-100px, -100px);
                        }
                    }
                    #taichungtestimg{
                        // &:hover{
                        //     transform: translate(-100px, -100px);
                        // }
                        transition: 2s;
                    }
                }
            }
        }
    }
}