*{
    box-sizing: border-box;
    body{
        margin: 0;
        padding: 0;
        #map-test1{
            background-image: url(../svg_work/0811/C7PEybs.gif);
            width: 100%;
            height: 100vh;
            svg{
                path{
                    fill:transparent;
                    stroke: white;
                    &:hover{
                        // stroke: wheat;
                        stroke-width: 2px;
                        fill:rgb(245, 135, 153);
                    }
                    transform: translate();
                }
                // #path3778{
                //     &:hover{
                //         position: relative;
                //         stroke: wheat;
                //         stroke:10px;
                //         z-index: 10;
                //         box-shadow: 0 0 2px black;
                //     }
                // }
                // #path3744{
                //     &:hover{
                //         box-shadow: 0 0 20px black;
                //     }
                // }
            }
        }
    }
}